header
  .container
    a.logo(href='#')
      img(src='images/logo-white.png' alt='Logo')
    if session.usuario
      .right-area
        p Seja bem vindo, #{session.usuario.nome} 
          a(href='/logout') [Deslogar]
    else
      .right-area
        h6
          a.plr-20.color-white.btn-fill-primary(href='login') Entrar
      // right-area

    a.menu-nav-icon(data-menu='#main-menu' href='#')
      i.ion-navicon
    ul#main-menu.main-menu.font-mountainsre
      li
        a(href='index.html') PRINCIPAL
      li
        a(href='02_about_us.html') SOBRE N&Oacute;S
      li
        a(href='03_menu.html') SERVI&Ccedil;OS
      li
        a(href='04_blog.html') NOVIDADES
      li
        a(href='05_contact.html') CONTATO
    .clearfix
  // container
