section.bg-1.h-900x.main-slider.pos-relative
  .triangle-up.pos-bottom
  .container.h-100
    .dplay-tbl
      .dplay-tbl-cell.center-text.color-white
        h5
          b O MELHOR DA CIDADE
        h1.mt-30.mb-15 Pizza &amp; Pasta
        h5
          a.btn-primaryc.plr-25(href='#menu')
            b VEJA NOSSO MENU
      // dplay-tbl-cell
    // dplay-tbl
  // container