footer.pb-50.pt-70.pos-relative
  .pos-top.triangle-bottom
  .container-fluid
    a(href='index.html')
      img(src='images/logo-white.png' alt='Logo')
    .pt-30
      p.underline-secondary
        b Endere&ccedil;o:
      p 481 Creekside Lane Avila Beach, CA 93424 
    .pt-30
      p.underline-secondary.mb-10
        b Fone:
      a(href='tel:+53 345 7953 32453 ') +53 345 7953 32453 
    .pt-30
      p.underline-secondary.mb-10
        b Email:
      a(href='mailto:yourmail@gmail.com')  yourmail@gmail.com
    ul.icon.mt-30
      li
        a(href='#')
          i.ion-social-pinterest
      li
        a(href='#')
          i.ion-social-facebook
      li
        a(href='#')
          i.ion-social-twitter
      li
        a(href='#')
          i.ion-social-dribbble-outline
      li
        a(href='#')
          i.ion-social-linkedin
      li
        a(href='#')
          i.ion-social-vimeo
    p.color-light.font-9.mt-50.mt-sm-30
      // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
      | Copyright &copy;
      script.
        document.write(new Date().getFullYear());
      |  All rights reserved | This template is made with 
      i.ion-heart(aria-hidden='true')
      |  by 
      a(href='https://colorlib.com' target='_blank') Colorlib
      // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
  // container
// SCIPTS
script(src='plugin-frameworks/jquery-3.2.1.min.js')
script(src='plugin-frameworks/bootstrap.min.js')
script(src='plugin-frameworks/swiper.js')
script(src='common/scripts.js')
