doctype html
head
	title IFPR #{titutlo}
	include _head
body
section.bg-1.h-900x.main-slider.pos-relative
	.simple-login-container
		h2 Login
		.row
			.col-md-12.form-group
				input.form-control(type='text' placeholder='Nome')
		.row
			.col-md-12.form-group
				input.form-control(type='text' placeholder='Email')
		.row
			.col-md-12.form-group
				input.form-control(type='password' placeholder='Senha')
		.row
			.col-md-12.form-group
				input.form-control(type='password' placeholder='Repetir senha')
		.row
			.col-md-12.form-group
				input.form-control(type='text' placeholder='Localização')
		.row
			.col-md-12.form-group
				button.plr-20.color-white.btn-fill-primary(type='submit') Cadastrar