extends base

block conteudo
  section
    .container
      .heading
        img.heading-img(src='images/heading_logo.png' alt='')
        h2#menu Menu
      .row
        .col-sm-12
          ul.selecton.brdr-b-primary.mb-70
            li
              a.active(href='#' data-select='*')
                b TUDO
            li
              a(href='#' data-select='pasta')
                b COMIDAS
            li
              a(href='#' data-select='salads')
                b BEBIDAS
        // col-sm-12
      // row
      .row
        form(action='/' method='post')
        each c in cardapio
          .form-group
          .col-md-6.food-menu.pizza
            .sided-90x.mb-30
              .s-left
                img.br-3(src=`images/menu-${c.id}-120x120.jpg` alt='Menu Image')
              // s-left
              .s-right
                h5.mb-10
                  b= c.nome
                  b.color-primary.float-right= c.preco
                p.pr-70
                  | Maecenas fermentum tortor id fringilla molestie. In hac habitasse platea dictumst.
              .input-group.mb-3
                .input-group-prepend
                  .input-group-text
                    input(type='checkbox' aria-label='Checkbox for following text input')
                select#inputGroupSelect01.custom-select
                  option(selected='1') 1
                  option(value='2') 2
                  option(value='3') 3
                  option(value='3') 3
                  option(value='3') 4
                  option(value='3') 5
                  option(value='3') 6
                  option(value='3') 7
                  option(value='3') 8
                  option(value='3') 9
                  option(value='3') 10
              // s-right
            // sided-90x
          // food-menu
      .row 
        .col
          h6.center-text.mt-40.mt-sm-20.mb-30
            a.btn-primaryc.plr-25(href='#' type='submit')
              b FAZER PEDIDO AGORA!
        // container