extends ../base

block conteudo
  .row.justify-content-center
    .col-lg-4
      form(action='/usuarios/editar' method='post')
        input(type="hidden" name="id" value=usuario.id)
        .alert.alert-danger(role='alert')= mensagem
        .form-group
          label(for='email') Email
          input.form-control(type='email' name='email' value=usuario.email)
          small.form-text.text-muted Igual ao seu cadastro.
        .form-group
          label(for='senha') Senha
          input.form-control(type='password' name='senha')
        .form-group
          label(for='confirmarSenha') Confirmar senha
          input.form-control(type='password' name='confirmarSenha')
        button.btn.btn-primary(type='submit') Editar